body {
    text-align: center;
    font-family: sans-serif;
}

.btn {
  display: block;
}

.modal {
  opacity: 0;
  visibility: hidden;
}

.modal-content {

}

.show-modal {
  opacity: 1;
  visibility: visible;
}
